neural_networks/microsoft_intro-machine-learning-pytorch/
neural_networks/XNN_from_scratch/__pycache__
neural_networks/XNN_from_scratch/classes/__pycache__
neural_networks/XNN_from_scratch/save_states
neural_networks/data
data_processing/graphs/__pycache__
data_processing/linalg_transforms/__pycache__
plots/__pycache__