data_processing/neural_networks/__pycache__
data_processing/neural_networks/XNN_from_scratch/__pycache__
data_processing/neural_networks/XNN_from_scratch/classes/__pycache__
data_processing/neural_networks/LSTM_Long_Short_Term_Memory/__pycache__
data_processing/neural_networks/XNN_from_scratch/save_states
data_processing/neural_networks/save_states
data_processing/neural_networks/data
misc_tools/__pycache__
data_processing/graphs/__pycache__
educational/linear_algebra/__pycache__
data_processing/image_processing/__pycache__
data_processing/media/VORTALL.mat
plots/__pycache__
runs